{% extends 'layout/blank.html.twig' %}
{% set tplScaffoldClass = 'bsw-scaffold-document' %}
{% set tplContentClass = ['bsw-content-document', tplContentChildrenClass ?? null]|joinClass %}

{% use 'javascript/document.md.twig' %}

{% block loading %}{% endblock %}

{% block page %}
  <div class="markdown-content">
    <div class="index">{{ data.data.index|raw }}</div>
    <div class="content">{{ data.data.document|raw }}</div>
  </div>
  <footer>{{ data.data.footer|raw }}</footer>
{% endblock %}

{% block javascript %}
{{ block('documentJavascript') }}
{% endblock %}